@charset "utf-8";
/* CSS Document */
body{
	
	background-color:#FFFFFF;
	height:100%;
	margin:0px;
	font-size:100%;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
}
#article.page{
	max-width:90%;
	margin-left:auto;
	margin-right:auto;
}

header{
    font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;  				
	padding:1em;
	background-color:#00497d;
	color:#F0EBEB;
	text-align:center;
	font-size:200%;
	letter-spacing:6px/16px;
}

nav{
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	height:1.875em;
	background-color:#00497d;
	color:#F7F5EE;
	text-align:center;
}
footer{
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	height:1.875em;
	background-color:#00497d;
	color:#F7F5EE;
	text-align:center;
	position:fixed;
	bottom:0;
	left:0;
	width:100%;
}

section{	
	overflow:hidden;
	border:4px;
	border-style:solid;
	border-color:#00497d;
	border-radius:25px;
	background-color:#00497d;
	height:100%;
	margin: auto;
	margin-top:0.5em;
	width: 98%;
}

section.content_center{
	width:44%;
	background-color:#F7F5EE;
	border:1px;
	border-style:solid;
	border-color:#00497d;
	overflow:hidden;
	padding:10px;
	text-align:center;
	border-radius:25px;
	margin:0.7em;
	padding: 1em;
	/*
	padding-bottom:100%;
	margin-bottom:-100%;
	*/
}
#kuva,#kuva1,#kuva2{
	width:50%;
	height:auto;
}
#kissa
{
	width:100%;
	height:auto;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
	text-align:center;
	overflow:hidden;
	}

li {
    display:inline;
}

a:link, a:visited {
	padding-top:0.2em;
	display:inline-block;
    font-weight: bold;
    color: #FFFFFF;
	height:1.675em;
    background-color:#00497d;
	text-align: center;
    padding-left: 3em;
	padding-right: 3em;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover, a:active {
    background-color: #00497d;	
}

table {
	width:100%;
	display: table;
	border: 0.1em solid #000000;
	border-collapse: collapse;
	table-layout: fixed;
}

td:nth-child(1) {
	background-color: #ffffcc;
}

tr:nth-child(1) {
	background-color: #58acfa;
}

td[colspan="7"] {
	background-color: #dddddd;
}

td {
	border: 0.1em solid #000000;
	height: 100%;
	width: 100%;
	word-wrap: break-word;
}

.myLogin {
    background-color: #ffffff;
    border-style: solid;
    border-color: #000000;
    border-width: 0.15em;
    padding: 0.8em;
    margin: 1em;
    width: auto;
    max-width: 15em;
    margin-left: auto;
    margin-right: auto;
	margin-top: 10%;
}
legend {
    display: block;
    background-color: #ffffff;
    border-style: solid;
    border-color: #000000;
    color: #000000;
}
.legend {
    width: auto;
    display: inline-block;
    margin: 1em;
}
.fieldTitle {
    display: inline-block;
    background-color: #ffffff;
    padding: 0.1em;
    margin: 0;
    margin-top: 0.5em;
    width: auto;
    border-style: solid;
    border-color: #000000;
    border-width: 0.1em;
}
.container {
    width: auto;
    max-width: 41em;
    margin: 2.0em;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 0.8em;
    border-style: solid;
    border-color: #000000;
    border-width: 0.15em;
    background-color: #b6d8ad;
}
.wideContainer {
    width: auto;
    max-width: 60em;
    margin: 2.0em;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 0.8em;
    border-style: solid;
    border-color: #000000;
    border-width: 0.15em;
    background-color: #ffffff;
}
.formButton {
    display: block;
    width: 100%;
    margin: 0.3em;
    margin-left: auto;
    margin-right: auto;
    font-size: 100%;
    padding: 0.3em;
    background-color: #ffffff;
    color: #000000; 
    font-weight: 700;
    border-style: solid;
    border-width: 0.2em;
    border-color: #000000;
}
.formButton:hover {
    background-color: #ffffff;
}
.loginField {
    width: 100%;
}
.content_box {
	height:auto;
	width:auto;
	border:solid 0.4em #000000;
	overflow:hidden;
	padding-left:1em;
	margin:1em;
	text-align:center;
	}
.userinfo {
	padding: 0.2em;
	background-color: #ededed;
	width: 15em;
	padding: 1em;
	font-weight: bold;
}

label {
    min-height: 100%;
    height: 100%;
    width: 100%;
    display: block;
	text-align: center;
	
	
}
input[type=radio]{
	position:absolute;
	visibility:hidden;
}
input[type=radio]:checked + label{
	background-color: #58acfa;
}
input[type=radio]:hover + label{
	background-color: rgba(88, 172, 250, 0.35);
	
}
input[type=radio] + label{
	background-color: #ffffff;
}
